@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>
<p>Správa aplikace Fitness Tracker.</p>

<ul>
    <li><a asp-area="Admin" asp-controller="Exercise" asp-action="Index">Exercises</a></li>
</ul>