@model IList<FitnessTracker.Domain.Entities.Exercise>

@{
    ViewData["Title"] = "Exercise Administration";
}

<h1>Exercise Administration</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Přidat nový cvik</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Popis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ex in Model)
        {
            <tr>
                <td>@ex.Id</td>
                <td>@ex.Name</td>
                <td>@ex.Description</td>
                <td>
                    <a asp-area="Admin"
                       asp-controller="Exercise"
                       asp-action="Delete"
                       asp-route-id="@ex.Id"
                       onclick="return ConfirmDelete();">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/dialogs.js"></script>
}


